.header {
  max-width: 1280px;
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__theme_dark {
  background-color: #073042;
}

.header__theme_light {
  background-color: #fff;
}

.header__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.header__main-page {
  display: none;
  text-decoration: none;
  color: #000;
  align-self: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

.header__movies {
  text-decoration: none;
  color: #000;
  align-self: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 16px;
}

.header__movies:hover {
  opacity: 0.69999;
}

.header__saved-movies {
  text-decoration: none;
  color: #000;
  align-self: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.header__saved-movies:hover {
  opacity: 0.69999;
}

.header__btn-account {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 50px;
  border: 2px solid rgba(170, 170, 170, 0.20000000298023224);
  padding: 8px 12px;
}

.header__btn-account:hover {
  opacity: .75;
}

.header__icon-account {
  padding-right: 7px;
  margin-bottom: -1px;
}

.header__button {
  all: unset;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  align-self: center;
}

.header__btn-signup {
  color: #fff;
}

.header__btn-signup:hover {
  cursor: pointer;
  color: #cccccc;
}

.header__btn-signin {
  margin-left: 30px;
  border-radius: 3px;
  background: #2be080;
  padding: 8px 20px;
}

.header__btn-signin:hover {
  cursor: pointer;
  opacity: 0.699999988079071;
}

.header__icon-btn {
  all: unset;
  cursor: pointer;
  display: none;
}

.header__icon-btn:hover {
  opacity: 0.699999988079071;
}

.header__wrapper {
  display: flex;
  padding-left: 44px;
  flex-basis: 100%;
}

.header__wrapper-movies {
  display: flex;
}

.header__wrapper-menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

@media screen and (max-width: 880px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 780px) {
  .header__icon-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 14px;
    z-index: 5;
  }

  .header__wrapper-menu {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 70%;
    height: 100vh;
    z-index: 5;
    background-color: #fff;
    padding-left: 0;
    transition: right 1s;
  }

  .header__wrapper-menu_active {
    right: 0;
  }

  .header__main-page {
    display: block;
    font-size: 18px;
    margin-bottom: 28px;
  }

  .header__movies {
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 28px;
  }

  .header__saved-movies {
    font-size: 18px;
  }

  .header__wrapper-movies {
    flex-direction: column;
    margin-top: 159px;
  }

  .header__btn-account {
    align-self: center;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__button {
    font-size: 10px;
  }

  .header__btn-signin {
    margin-left: 14px;
    padding: 5px 12px;
  }

  .header__wrapper-menu {
    width: 100%;
  }
}
